@charset "UTF-8";
body {
  font-family: "Pretendard Variable";
  font-weight: 400;
}

.wrap {
  width: 100%;
  overflow: hidden;
}

/*헤더*/
header {
  width: 100%;
  height: 8.5rem;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 1rem;
}
header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 8.5rem;
  left: 0;
  background: #f8f8f8;
}
header .innerHeader {
  width: 91%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}
header .innerHeader .headerTop {
  display: flex;
  justify-content: space-between;
}
header .innerHeader .headerTop .headerLT {
  display: flex;
  justify-content: space-between;
  padding: 1.5vw 0vw 1vw;
  box-sizing: border-box;
  align-items: flex-start;
}
header .innerHeader .headerTop .headerLT .logo {
  width: 8vw;
  height: 2vw;
  transform: translatey(2%);
}
header .innerHeader .headerTop .headerLT .logo a {
  width: 100%;
  display: block;
}
header .innerHeader .headerTop .headerLT .logo a img {
  width: 100%;
  height: 100%;
}
header .innerHeader .headerTop .headerLT .searchBox {
  position: relative;
  width: 17vw;
  height: 2vw;
  box-sizing: border-box;
  padding: 1vw 0;
  border-radius: 5%;
  margin-left: 1vw;
  background: #f8f8f8;
}
header .innerHeader .headerTop .headerLT .searchBox .searchBtn {
  position: absolute;
  top: 20%;
  left: 3%;
  transform: scale(0.8);
}
header .innerHeader .headerTop .headerLT .searchBox #keyword {
  position: absolute;
  top: 17%;
  left: 11%;
  color: #999;
  padding: 0.3vw;
  border: none;
  background: transparent;
}
header .innerHeader .headerTop .headerLT .searchBox #keyword:focus {
  outline: none;
}
header .innerHeader .headerTop .headerLT .searchBox ::-moz-placeholder {
  font-size: 0.75vw;
  color: #666;
  opacity: 0.8;
}
header .innerHeader .headerTop .headerLT .searchBox ::placeholder {
  font-size: 0.75vw;
  color: #666;
  opacity: 0.8;
}
header .innerHeader .headerTop .headerRT {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
header .innerHeader .headerTop .headerRT ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .innerHeader .headerTop .headerRT ul .login, header .innerHeader .headerTop .headerRT ul .signin {
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 0.8vw;
  padding: 0.1vw;
  box-sizing: border-box;
  text-align: center;
}
header .innerHeader .headerTop .headerRT ul .login a, header .innerHeader .headerTop .headerRT ul .signin a {
  display: block;
  width: 100%;
}
header .innerHeader .headerTop .headerRT ul .login {
  padding-right: 0.4vw;
  transform: translateX(12%);
}
header .innerHeader .headerTop .headerRT ul .signin {
  transform: translateX(-15%);
  padding-left: 0.5vw;
  border-left: 1px solid #e4e4e4;
}
header .innerHeader .headerTop .headerRT ul .wish, header .innerHeader .headerTop .headerRT ul .cart {
  width: 1.25vw;
  padding: 0.3vw;
}
header .innerHeader .headerTop .headerRT ul .wish img, header .innerHeader .headerTop .headerRT ul .cart img {
  width: 100%;
}
header .innerHeader .headerTop .headerRT ul .wish {
  transform: translateX(-10%);
}
header .innerHeader .headerTop .headerRT select {
  width: 31%;
  height: 45%;
  margin-top: 1.15vw;
  margin-left: 2vw;
  padding: 0.4vw 0;
  border: 1px solid #999;
  border-radius: 13%;
  box-sizing: border-box;
  color: #444;
  font-size: 0.8vw;
  text-align: center;
}
header .innerHeader .headerBottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1vw;
}
header .innerHeader .headerBottom .headerLB ul {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header .innerHeader .headerBottom .headerLB ul li {
  box-sizing: border-box;
  padding: 0.3vw 0.2vw 0.3vw 0;
  margin-right: 1.2vw;
}
header .innerHeader .headerBottom .headerLB ul li a {
  display: block;
  width: 100%;
  font-size: 0.9vw;
  font-family: "Pretendard Variable";
  font-weight: 700;
}
header .innerHeader .headerBottom .headerLB ul li a .open {
  font-size: 0.1vw;
  color: #fff;
  background-color: #000;
  padding: 0.1rem 0.3rem;
  border-radius: 2rem;
  font-weight: 500;
  position: relative;
  top: -0.15rem;
  margin-right: 0.3rem;
}
header .innerHeader .headerBottom .headerLB ul li:last-child {
  border-left: 1px solid #e4e4e4;
  padding-left: 1.25vw;
}
header .innerHeader .headerBottom .headerRB {
  background: #f8f8f8;
  padding: 0.3vw;
  box-sizing: border-box;
}
header .innerHeader .headerBottom .headerRB a {
  display: flex;
  align-items: center;
}
header .innerHeader .headerBottom .headerRB a img {
  margin-right: 0.3vw;
}
header .innerHeader .headerBottom .headerRB a p {
  display: inline;
  font-size: 0.5vw;
  color: #444;
}

/*공통*/
main, section {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5vw;
}
main .inner, section .inner {
  width: 92%;
  margin: 0 auto;
}
main .inner h3.title, section .inner h3.title {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.8vw;
  margin-bottom: 0.6vw;
}
main .inner p.desc, section .inner p.desc {
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 0.8vw;
  color: #999;
  margin-bottom: 2.4vw;
}

main {
  margin-top: 10rem;
}
main .inner .top_gallery {
  width: 100%;
  overflow: hidden;
  display: grid;
  margin-bottom: 1.2vw;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 14.5vw);
  grid-template-areas: "a b b c" "a b b d" "e b b d" "e b b f";
}
main .inner .top_gallery .imgBox {
  padding: 1.25vw;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
main .inner .top_gallery .imgBox a {
  width: 100%;
}
main .inner .top_gallery .imgBox a img {
  width: 100%;
  height: 120%;
  border-radius: 1%;
}
main .inner .top_gallery .imgBox a p {
  position: absolute;
  font-size: 1.4vw;
  padding: 1.25vw;
  box-sizing: border-box;
  top: 8%;
  left: 8%;
  color: #fff;
  line-height: 1.5;
  font-family: "Pretendard Variable";
  font-weight: 700;
}
main .inner .top_gallery .imgBox1 {
  grid-area: a;
}
main .inner .top_gallery .imgBox2 {
  grid-area: e;
}
main .inner .top_gallery .imgBox3 {
  grid-area: b;
}
main .inner .top_gallery .imgBox3 a p {
  top: 4%;
  left: 4%;
}
main .inner .top_gallery .imgBox4 {
  grid-area: c;
}
main .inner .top_gallery .imgBox5 {
  grid-area: d;
}
main .inner .top_gallery .imgBox6 {
  grid-area: f;
}
main .inner .bottom_gallery {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(3, 15.4vw);
  grid-template-areas: "a b c" "a b e" "a d e";
}
main .inner .bottom_gallery .imgBox {
  padding: 1.25vw;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
main .inner .bottom_gallery .imgBox a {
  width: 100%;
}
main .inner .bottom_gallery .imgBox a img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
}
main .inner .bottom_gallery .imgBox a p {
  position: absolute;
  font-size: 1.4vw;
  padding: 1.25vw;
  box-sizing: border-box;
  top: 5%;
  left: 5%;
  color: #fff;
  line-height: 1.5;
  font-family: "Pretendard Variable";
  font-weight: 700;
}
main .inner .bottom_gallery .imgBox7 {
  grid-area: a;
}
main .inner .bottom_gallery .imgBox8 {
  grid-area: b;
}
main .inner .bottom_gallery .imgBox9 {
  grid-area: c;
}
main .inner .bottom_gallery .imgBox10 {
  grid-area: d;
}
main .inner .bottom_gallery .imgBox11 {
  grid-area: e;
}

section.curation .swiper {
  width: 95%;
  margin-bottom: 2.5vw;
}
section.curation .swiper .swiper-wrapper {
  margin-left: 4.219vw;
  box-sizing: border-box;
}
section.curation .swiper .swiper-wrapper .swiper-slide {
  padding-right: 3.219vw;
  box-sizing: border-box;
}
section.curation .swiper .swiper-wrapper .swiper-slide .galBox {
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: 1vw;
}
section.curation .swiper .swiper-wrapper .swiper-slide .galBox .galImg {
  width: 21.146vw;
  height: 21.563vw;
  overflow: hidden;
  margin-bottom: 0.8vw;
}
section.curation .swiper .swiper-wrapper .swiper-slide .galBox .galImg a {
  width: 100%;
  display: block;
}
section.curation .swiper .swiper-wrapper .swiper-slide .galBox .galImg a img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}
section.curation .swiper .swiper-wrapper .swiper-slide .galBox .galTxt {
  margin-bottom: 0.8vw;
}
section.curation .swiper .swiper-wrapper .swiper-slide .galBox .galTxt .category {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 0.65vw;
  padding: 0.3vw 0.4vw;
  display: inline-block;
  box-sizing: border-box;
  background: #e4e4e4;
  border-radius: 5%;
  margin-bottom: 0.6vw;
}
section.curation .swiper .swiper-wrapper .swiper-slide .galBox .galTxt .galTit {
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 1vw;
  margin-bottom: 0.6vw;
}
section.curation .swiper .swiper-wrapper .swiper-slide .galBox .galTxt .galDesc {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 1.5;
  color: #666;
}
section.curation .swiper .swiper-wrapper .swiper-slide .gal_list {
  width: 100%;
}
section.curation .swiper .swiper-wrapper .swiper-slide .gal_list li {
  width: 100%;
  padding: 0.3vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1vw;
  position: relative;
}
section.curation .swiper .swiper-wrapper .swiper-slide .gal_list li .smallImg {
  width: 4.25rem;
  flex: 0 0 auto;
  margin-right: 1vw;
  overflow: hidden;
  background: #f7f7f7;
}
section.curation .swiper .swiper-wrapper .swiper-slide .gal_list li .smallImg a {
  width: 100%;
  display: block;
}
section.curation .swiper .swiper-wrapper .swiper-slide .gal_list li .smallImg a img {
  width: 100%;
  mix-blend-mode: multiply;
}
section.curation .swiper .swiper-wrapper .swiper-slide .gal_list li .imgInfo .author, section.curation .swiper .swiper-wrapper .swiper-slide .gal_list li .imgInfo .imgTit {
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 0.7vw;
  opacity: 0.8;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.5vw;
}
section.curation .swiper .swiper-wrapper .swiper-slide .gal_list li .imgInfo .price {
  font-family: "Pretendard Variable";
  font-weight: 700;
}
section.curation .swiper .swiper-wrapper .swiper-slide .gal_list li .icon {
  position: absolute;
  width: 0.8vw;
  height: 0.8vw;
  right: 0;
  top: 50%;
}
section.curation .swiper .swiper-wrapper .swiper-slide .gal_list li .icon img {
  width: 100%;
}
section.curation .swiper_bottom {
  margin: 0 auto;
  width: 10%;
  box-sizing: border-box;
  position: relative;
  padding: 2vw;
  margin-bottom: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.curation .swiper_bottom .swiper-button-prev, section.curation .swiper_bottom .swiper-button-next {
  color: #444;
  width: 1vw;
  height: 1vw;
  top: 50%;
  transform: scale(0.3) translate3d(-50%, -50%, 0);
}
section.curation .swiper_bottom .swiper-pagination {
  position: absolute;
  color: #999;
  width: 35%;
  top: 42%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
section.curation .swiper_bottom .swiper-pagination .swiper-pagination-current {
  font-family: "Pretendard Variable";
  font-weight: 600;
  color: #000;
  margin: 0 0.2vw;
}
section.curation .swiper_bottom .swiper-pagination .swiper-pagination-total {
  font-family: "Pretendard Variable";
  font-weight: 600;
  margin: 0 0.2vw;
}

.swiper-slide:nth-child(5) .date {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 0.65vw;
  padding: 0.3vw 0.4vw;
  display: inline-block;
  box-sizing: border-box;
  background: #e4e4e4;
  border-radius: 5%;
  margin-bottom: 0.6vw;
}
.swiper-slide:nth-child(5) .gal_list .imgInfo .price_origin {
  text-decoration: line-through;
  color: #666;
  font-family: "Pretendard Variable";
  font-weight: 600;
}
.swiper-slide:nth-child(5) .gal_list .imgInfo .price {
  display: inline-block;
  position: relative;
}
.swiper-slide:nth-child(5) .gal_list .imgInfo .price::after {
  content: "5%";
  position: absolute;
  right: -43%;
  color: red;
}

section.premium {
  margin-bottom: 5vw;
}
section.premium .inner .img_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.premium .inner .img_list li {
  width: 49%;
}
section.premium .inner .img_list li .imgBox a {
  width: 100%;
  display: block;
}
section.premium .inner .img_list li .imgBox a img {
  width: 100%;
  height: 100%;
}
section.premium .inner .img_list li .imgDesc {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  padding: 1vw;
  box-sizing: border-box;
}
section.premium .inner .img_list li .imgDesc .authorImg {
  width: 10%;
}
section.premium .inner .img_list li .imgDesc .authorImg img {
  width: 100%;
  border-radius: 50%;
}
section.premium .inner .img_list li .imgDesc .authorDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1vw;
}
section.premium .inner .img_list li .imgDesc .authorDesc .author {
  font-size: 0.8vw;
  color: #2f2f2f;
  font-family: "Pretendard Variable";
  font-weight: 400;
}
section.premium .inner .img_list li .imgDesc .authorDesc .imgTit {
  font-size: 1vw;
  font-family: "Pretendard Variable";
  font-weight: 600;
}

section.edition {
  margin-bottom: 5vw;
}
section.edition .edition_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
}
section.edition .edition_list li {
  width: 24%;
  margin-right: 2vw;
}
section.edition .edition_list li .box {
  width: 100%;
  background: rgba(192, 192, 192, 0.1);
  position: relative;
  margin-bottom: 1.5vw;
}
section.edition .edition_list li .box img {
  width: 100%;
}
section.edition .edition_list li .box .date {
  position: absolute;
  top: 4%;
  left: 4%;
  box-sizing: border-box;
  padding: 0.3vw;
  background: #e4e4e4;
  color: #444;
  font-size: 0.7vw;
  font-family: "Pretendard Variable";
  font-weight: 500;
}
section.edition .edition_list li p.title {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 0.95vw;
  color: #444;
}

footer {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
footer::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  position: absolute;
  top: -2%;
  left: 0;
}
footer::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  position: absolute;
  bottom: 23%;
  left: 0;
}
footer .innerFooter {
  width: 92%;
  margin: 0 auto;
}
footer .innerFooter .footerTop {
  display: flex;
  justify-content: space-between;
  padding: 3vw 0vw 4.25vw;
}
footer .innerFooter .footerTop .listBox .list_1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5vw;
}
footer .innerFooter .footerTop .listBox .list_1 li {
  margin-right: 3vw;
}
footer .innerFooter .footerTop .listBox .list_1 li .tit {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.3vw;
  margin-bottom: 1vw;
}
footer .innerFooter .footerTop .listBox .list_1 li .desc {
  font-family: "Pretendard Variable";
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.8vw;
}
footer .innerFooter .footerTop .listBox .list_2 {
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-family: "Pretendard Variable";
  font-weight: 600;
  align-items: center;
  color: #666;
}
footer .innerFooter .footerTop .listBox .list_2 li a {
  display: block;
  width: 100%;
}
footer .innerFooter .footerTop .listBox .list_2 li a img {
  opacity: 0.5;
}
footer .innerFooter .footerTop .subscribe {
  margin-right: 3.5vw;
  box-sizing: border-box;
  width: 22.5%;
}
footer .innerFooter .footerTop .subscribe .inputBox {
  width: 100%;
  margin-bottom: 1.5vw;
}
footer .innerFooter .footerTop .subscribe .inputBox label {
  display: none;
}
footer .innerFooter .footerTop .subscribe .inputBox input {
  width: 100%;
  height: 0.5vw;
  display: inline-block;
  padding: 0.5vw 0;
  border: none;
  border-bottom: 1px solid #000;
}
footer .innerFooter .footerTop .subscribe .inputBox input:focus {
  outline: none;
}
footer .innerFooter .footerTop .subscribe .inputBox ::-moz-placeholder {
  font-size: 0.7vw;
  color: #666;
  opacity: 0.8;
}
footer .innerFooter .footerTop .subscribe .inputBox ::placeholder {
  font-size: 0.7vw;
  color: #666;
  opacity: 0.8;
}
footer .innerFooter .footerTop .subscribe .agree {
  margin-bottom: 2.5vw;
}
footer .innerFooter .footerTop .subscribe .agree input {
  border: 1px solid #444;
  color: #444;
}
footer .innerFooter .footerTop .subscribe .agree input:checked {
  background: #000;
  color: #fff;
}
footer .innerFooter .footerTop .subscribe .agree label {
  font-size: 0.7vw;
  color: #000;
  font-family: "Pretendard Variable";
  font-weight: 300;
}
footer .innerFooter .footerTop .subscribe button {
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 1.2vw;
  cursor: pointer;
}
footer .innerFooter .footerBottom {
  width: 86%;
  padding: 1vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .innerFooter .footerBottom .left {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 0.4vw;
  color: #999999;
}
footer .innerFooter .footerBottom .left .address {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  margin-bottom: 0.5vw;
}
footer .innerFooter .footerBottom .left .address li {
  margin-right: 0.3vw;
}
footer .innerFooter .footerBottom .left .address_2 {
  display: flex;
  justify-content: space-between;
}
footer .innerFooter .footerBottom .left .address_2 li {
  margin-right: 0.3vw;
}
footer .innerFooter .footerBottom .right .sns {
  display: flex;
  justify-content: space-between;
}
footer .innerFooter .footerBottom .right .sns li {
  box-sizing: border-box;
  padding: 1vw 0.7vw;
}
footer .innerFooter .footerBottom .right .sns li a, footer .innerFooter .footerBottom .right .sns li button {
  display: block;
  width: 100%;
  cursor: pointer;
}
footer .innerFooter .footerBottom .right .sns li a img, footer .innerFooter .footerBottom .right .sns li button img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */